<div [ngSwitch]="field.type" class="flex flex-col">
  <label [for]="field.id">
    {{ field.label }}
  </label>

  <input
    *ngSwitchCase="'text'"
    type="text"
    [formControl]="formControl"
    [id]="field.id"
    [placeholder]="field.label"
  />
  <input
    *ngSwitchCase="'number'"
    type="number"
    [formControl]="formControl"
    [id]="field.id"
    [placeholder]="field.label"
  />
  <input
    *ngSwitchCase="'email'"
    type="email"
    [formControl]="formControl"
    [id]="field.id"
    [placeholder]="field.label"
  />
  <input
    *ngSwitchCase="'range'"
    type="range"
    [formControl]="formControl"
    [id]="field.id"
    [placeholder]="field.label"
  />
  <input
    *ngSwitchCase="'password'"
    type="password"
    [formControl]="formControl"
    [id]="field.id"
    [placeholder]="field.label"
  />
</div>
