.datepicker-input {
  position: relative;
}
.upload-btn {
  background: rgb(0, 102, 160, 0.2);
}
.radio-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 0.3rem;
}
input[type="radio"] {
  accent-color: #309ec0;
}
.error-holder {
  height: 15px;
}
.error-msg {
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  padding-inline-start: 5px;
  margin-top: 2px;
  opacity: 1;
  display: block;
  height: auto;
  width: auto;
  transition: 0.25s opacity linear, 0.25s height linear;
}
.email-msg {
  margin-top: -2px;
}
.hidden-error {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
