.tailwind-form {
  //   background-color: #111827;
}
.fieldgroup-fieldset {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}
.add-fieldgroup-btn {
  margin-top: 1rem;
}
