.tailwind-form {
  form {
    margin-inline: auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    .fieldset {
      width: calc(50% - 0.5rem);
    }
    .full-width {
      width: 100%;
      display: flex;
      flex-direction: column;
      .fieldgroup-array {
        display: flex;
        flex-direction: column;
        .fieldgroup-array-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
        }
      }
    }
    .file-fieldset {
      width: 100%;
    }
    @media only screen and (max-width: 500px) {
      .fieldset {
        width: calc(100% - 1rem);
      }
      .full-width {
        .fieldgroup-array {
          .fieldgroup-array-item {
            gap: 0;
          }
        }
      }
    }
  }
}
.fieldgroup-fieldset {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
  app-form-field {
    width: calc(50% - 0.5rem);
  }
  @media only screen and (max-width: 600px) {
    app-form-field {
      width: calc(100% - 1rem);
    }
  }
}
.submit-btn-holder {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-block-end: 2rem;
  padding-inline-end: 2rem;
}
.form-loader {
  min-width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
