<section class="dynamic-form-layout py-5 md:py-5 lg:py-5">
  <div
    class="mx-auto justify-center align-middle rounded-3xl border-2 border-gray-300 shadow-gray-600 shadow-md grid form-holder"
    [ngClass]="!(questions$ | async)?.[0] ? 'loading-holder':''"
  >
    <div class="row-img rounded-lg" *ngIf="(questions$ | async)?.[0]">
      <img
        ngSrc="assets/imgs/business-remotely.webp"
        alt="Business Remotely"
        priority
        width="400"
        height="200"
        class="rounded-3xl"
      />
      <div
        class="form-values-layout"
        *ngIf="(questions$ | async)?.[0] && formData"
      >
        <ul>
          <ng-container *ngFor="let item of formData | keyvalue">
            <li *ngIf="!isArray(item.value); else arrayValue">
              <span class="font-bold">{{ item.key }} : </span>
              <span class="text-gray-800">{{ item.value }}</span>
            </li>
            <ng-template #arrayValue>
              <li
                class="array-row"
                *ngIf="checkValue(item?.value)?.length !== 0"
              >
                <span class="font-bold">{{ item.key }} : </span>
                <div
                  class="array-item"
                  *ngFor="let subItem of checkValue(item?.value); let i = index"
                >
                  <span
                    *ngFor="
                      let subValue of subItem | keyvalue;
                      let isLast = last
                    "
                  >
                    <span class="font-bold">{{ subValue.key }} :</span>
                    {{ subValue.value }}
                    {{ isLast ? "" : " ," }}
                  </span>
                </div>
              </li>
            </ng-template>
          </ng-container>
        </ul>
      </div>
    </div>
    <div>
      <app-tailwind-form
        [questions$]="questions$"
        (formValueChanged)="handleDataChanged($event)"
      ></app-tailwind-form>
    </div>
  </div>
</section>
