<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="questions$ | async">
  <ng-container *ngFor="let field of questions$ | async">
    <div [ngSwitch]="field.type">
      <ng-container *ngSwitchCase="'fieldgroup'">
        <div [formArrayName]="field.label">
          <h2>
            {{ field.label }}
          </h2>
          <ng-container
            *ngFor="
              let subQuestion of getFormArray(field.label).controls;
              let i = index
            "
          >
            <div [formGroupName]="i" class="fieldgroup-fieldset">
              <ng-container *ngFor="let subField of field.sub_questions">
                <app-form-field
                  [formControlName]="subField.label"
                  [field]="subField"
                ></app-form-field>
              </ng-container>

              <button (click)="removeFieldGroup(field, i)">
                - Remove Answer
              </button>
            </div>
          </ng-container>
          <button (click)="addFieldGroup(field)" class="add-fieldgroup-btn">
            + Add Another
          </button>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <app-form-field
          [formControlName]="field.label"
          [field]="field"
        ></app-form-field>
      </ng-container>
    </div>
  </ng-container>

  <!-- <div *ngIf="form.get('hobbies')">
    <label>Hobbies</label>
    <div formArrayName="hobbies">
      <div *ngFor="let hobby of hobbies.controls; let i = index" [formGroup]="hobby">
        <app-form-field [field]="{ key: 'name', label: 'Hobby Name', type: 'text' }" [form]="hobby"></app-form-field>
        <app-form-field [field]="{ key: 'interest', label: 'Interest Level', type: 'range' }" [form]="hobby"></app-form-field>
        <button type="button" (click)="removeHobby(i)">Remove</button>
      </div>
    </div>
    <button type="button" (click)="addHobby()">Add Answer</button>
  </div> -->

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>

<!-- <pre>{{ form?.value | json }}</pre> -->
